@import "tailwindcss";

:root {
  /* Base */
  --white: #ffffff;
  --black: #000000;

  /* Neutrals */
  --neutral-50: #f9f9f9;
  --neutral-100: #f3f4f6;
  --neutral-200: #eaecf0;
  --neutral-300: #d0d5dd;
  --neutral-400: #ebebeb;
  --neutral-500: #667085;
  --neutral-600: #767980;
  --neutral-700: #1d1f2c;
  --neutral-800: #1b231f;
  --neutral-900: #110011;

  /* Brand */
  --primary-400: #b1aeea;
  --primary-500: #7269e3;
  --primary-600: #5a55d2;
  --primary-700: #5d53df;
  --primary-800: #786fe4;

  /* Status */
  --success-500: #80d68d;
  --danger-500: #bf010a;

  /* Opacity */
  --black-10: rgb(0 0 0 / 0.1);
}

@theme {
  /* Base */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Neutrals */
  --color-neutral-50: #f9f9f9;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #eaecf0;
  --color-neutral-300: #d0d5dd;
  --color-neutral-400: #ebebeb;
  --color-neutral-500: #667085;
  --color-neutral-600: #767980;
  --color-neutral-700: #1d1f2c;
  --color-neutral-800: #1b231f;
  --color-neutral-900: #110011;

  /* Brand */
  --color-primary-400: #b1aeea;
  --color-primary-500: #7269e3;
  --color-primary-600: #5a55d2;
  --color-primary-700: #5d53df;
  --color-primary-800: #786fe4;

  /* Status */
  --color-success-500: #80d68d;
  --color-danger-500: #bf010a;

  /* Opacity */
  --color-black-10: rgb(0 0 0 / 0.1);

  /* font */
  --font-sans: var(--font-sora);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sora", "work-sans", sans-serif;
  color: #110011;
}

body {
  background: #ffffff;
  color: #110011;
}

button {
  cursor: pointer;
  outline: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

input:focus {
  outline: none;
}
